receivers:
  filelog/iis/accesslogs/localhost:
    storage: file_storage
    include_file_name: false
    include_file_path: true
    operators:
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]
      - type: copy
        from: resource["log.file.path"]
        to: resource["_sourceName"]
    include:
      - C:\inetpub\Logs\LogFiles\W3SVC**.log
  filelog/iis/httperrorlogs/localhost:
    storage: file_storage
    include_file_name: false
    include_file_path: true
    operators:
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]
      - type: copy
        from: resource["log.file.path"]
        to: resource["_sourceName"]
    include:
      - C:\Windows\System32\LogFiles\HTTPERR\*.*
processors:
  resource/iis_resource_attributes/localhost:
    attributes:
      - key: webengine.system
        value: iis
        action: insert
      - key: sumo.datasource
        value: iis
        action: insert
      - key: _contentType
        value: OpenTelemetry
        action: insert
      - key: webengine.cluster
        value: test
        action: insert
  resource/iis_resource_attributes/logs/localhost:
    attributes:
      - key: _source
        value: iis/filelog
        action: insert
service:
  pipelines:
    logs/iis/localhost:
      receivers:
        - filelog/iis/accesslogs/localhost
        - filelog/iis/httperrorlogs/localhost
      processors:
        - memory_limiter
        - resource/iis_resource_attributes/localhost
        - batch
        - resourcedetection/system
        - resource/iis_resource_attributes/logs/localhost
      exporters:
        - sumologic
