.DS_Store
.idea
*.log
tmp/
build/
*.swp

# WiX toolset
*.msi
*.wixpdb
*.wixobj
*.cab
.vs/
bin/
obj/
Backup*/
UpgradeLog*.htm
wix/packages
msi/wix/packages
msi/SumoLogic.wixext/packages
install-script/test/sumologic_scripts_tests.test

# 1Password
.op/

#Make cache files
CMakeFiles/*
*/CMakeFiles/*
CMakeCache.txt
