receivers:
  apache/localhost:
    endpoint: http://localhost:80/server-status?auto
  filelog/apache/accessLogs/localhost:
    include_file_name: false
    include_file_path: true
    operators:
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]
    include:
      - /var/log/apache2/access.log
  filelog/apache/errorLogs/localhost:
    multiline:
      line_start_pattern: ^\[\S{3}\s\S{3}\s\d{1,2}\s[^\]]+\].*
    include_file_name: false
    include_file_path: true
    operators:
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]
    include:
      - /var/log/apache2/error.log
processors:
  resource/apache_resource_attributes/localhost:
    attributes:
      - key: webengine.system
        value: apache
        action: insert
      - key: sumo.datasource
        value: apache
        action: insert
      - key: webengine.node.name
        action: insert
        from_attribute: host.name
      - key: webengine.cluster.name
        value: apache_cluster
        action: insert
service:
  pipelines:
    metrics/apache/localhost:
      receivers:
        - apache/localhost
      processors:
        - memory_limiter
        - resourcedetection/system
        - resource/apache_resource_attributes/localhost
        - batch
      exporters:
        - sumologic
    logs/apache/localhost:
      receivers:
        - filelog/apache/accessLogs/localhost
        - filelog/apache/errorLogs/localhost
      processors:
        - memory_limiter
        - resourcedetection/system
        - resource/apache_resource_attributes/localhost
        - batch
      exporters:
        - sumologic
