receivers:
  elasticsearch/localhost:
    endpoint: http://localhost:9200
    username: admin
    password: null
    collection_interval: 10s
    metrics:
      elasticsearch.index.cache.evictions:
        enabled: true
      elasticsearch.index.cache.memory.usage:
        enabled: true
      elasticsearch.index.documents:
        enabled: true
      elasticsearch.index.operations.merge.docs_count:
        enabled: true
      elasticsearch.index.operations.merge.size:
        enabled: true
      elasticsearch.index.segments.count:
        enabled: true
      elasticsearch.index.segments.memory:
        enabled: true
      elasticsearch.index.segments.size:
        enabled: true
      elasticsearch.index.translog.operations:
        enabled: true
      elasticsearch.index.translog.size:
        enabled: true
      elasticsearch.node.operations.get.completed:
        enabled: true
      elasticsearch.node.operations.get.time:
        enabled: true
      jvm.memory.heap.utilization:
        enabled: true
      elasticsearch.index.cache.size:
        enabled: true
  filelog/elasticsearch/localhost:
    storage: file_storage
    include_file_name: false
    include_file_path: true
    operators:
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]
      - type: copy
        from: resource["log.file.path"]
        to: resource["_sourceName"]
    include:
      - /var/log/elasticsearch/elasticsearch-:clustername:.log
processors:
  resource/elasticsearch_resource_attributes/localhost:
    attributes:
      - key: db.system
        value: elasticsearch
        action: insert
      - key: sumo.datasource
        value: elasticsearch
        action: insert
      - key: _contentType
        value: OpenTelemetry
        action: insert
      - key: db.node.name
        action: insert
        from_attribute: host.name
      - key: db.cluster.name
        value: testElasticCluster
        action: insert
  resource/elasticsearch_metric_label_translation/localhost:
    attributes:
      - action: insert
        from_attribute: elasticsearch.index.name
        key: db.elasticsearch.index.name
      - action: delete
        key: elasticsearch.index.name
      - action: delete
        key: elasticsearch.node.name
  resource/elasticsearch_resource_attributes/metrics/localhost:
    attributes:
      - key: _source
        value: elasticsearch/elasticsearch
        action: insert
      - key: _sourceName
        value: elasticsearch
        action: insert
  resource/elasticsearch_resource_attributes/logs/localhost:
    attributes:
      - key: _source
        value: elasticsearch/filelog
        action: insert
service:
  pipelines:
    metrics/elasticsearch/localhost:
      receivers:
        - elasticsearch/localhost
      processors:
        - memory_limiter
        - resourcedetection/system
        - resource/elasticsearch_resource_attributes/metrics/localhost
        - resource/elasticsearch_resource_attributes/localhost
        - resource/elasticsearch_metric_label_translation/localhost
        - batch
      exporters:
        - sumologic
    logs/elasticsearch/localhost:
      receivers:
        - filelog/elasticsearch/localhost
      processors:
        - memory_limiter
        - resourcedetection/system
        - resource/elasticsearch_resource_attributes/logs/localhost
        - resource/elasticsearch_resource_attributes/localhost
        - batch
      exporters:
        - sumologic
