receivers:
  filelog/jira/accesslogs/localhost:
    include_file_name: false
    include_file_path: true
    operators:
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]
    include:
      - /var/log/apache2/*.log
  filelog/jira/securitylogs/localhost:
    include_file_name: false
    include_file_path: true
    operators:
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]
    include:
      - /home/jira/atlassian/application-data/jira/log/atlassian-jira-security.log
  filelog/jira/catalinalogs/localhost:
    include_file_name: false
    include_file_path: true
    operators:
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]
    include:
      - /home/jira/atlassian/application-data/jira/log/*.log
processors:
  resource/jira_resource_attributes/localhost:
    attributes:
      - key: sumo.datasource
        value: jira
        action: insert
service:
  pipelines:
    logs/jira/localhost:
      receivers:
        - filelog/jira/accesslogs/localhost
        - filelog/jira/securitylogs/localhost
        - filelog/jira/catalinalogs/localhost
      processors:
        - memory_limiter
        - resource/jira_resource_attributes/localhost
        - batch
        - resourcedetection/system
      exporters:
        - sumologic
