receivers:
  filelog/jira/accesslogs/localhost:
    include_file_name: false
    include_file_path: true
    operators:
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]
      - type: copy
        from: resource["log.file.path"]
        to: resource["_sourceName"]
    include:
      - /var/log/apache2/*.log
  filelog/jira/securitylogs/localhost:
    include_file_name: false
    include_file_path: true
    operators:
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]
      - type: copy
        from: resource["log.file.path"]
        to: resource["_sourceName"]
    include:
      - /home/jira/atlassian/application-data/jira/log/atlassian-jira-security.log
  filelog/jira/catalinalogs/localhost:
    include_file_name: false
    include_file_path: true
    operators:
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]
      - type: copy
        from: resource["log.file.path"]
        to: resource["_sourceName"]
    include:
      - /home/jira/atlassian/application-data/jira/log/*.log
processors:
  resource/jira_resource_attributes/localhost:
    attributes:
      - key: sumo.datasource
        value: jira
        action: insert
      - key: _contentType
        value: OpenTelemetry
        action: insert
      - key: _sourceCategory
        value: otel/jira
        action: insert
  resource/jira_resource_attributes/logs/localhost:
    attributes:
      - key: _source
        value: jira/filelog
        action: insert
service:
  pipelines:
    logs/jira/localhost:
      receivers:
        - filelog/jira/accesslogs/localhost
        - filelog/jira/securitylogs/localhost
        - filelog/jira/catalinalogs/localhost
      processors:
        - memory_limiter
        - resource/jira_resource_attributes/localhost
        - batch
        - resourcedetection/system
        - resource/jira_resource_attributes/logs/localhost
      exporters:
        - sumologic
