receivers:
  filelog/mongodb/localhost:
    storage: file_storage
    include_file_name: false
    include_file_path: true
    operators:
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]
      - type: copy
        from: resource["log.file.path"]
        to: resource["_sourceName"]
    include:
      - /var/log/mongodb/mongodb.log
processors:
  resource/mongodb_resource_attributes/localhost:
    attributes:
      - key: db.system
        value: mongodb
        action: insert
      - key: sumo.datasource
        value: mongodb
        action: insert
      - key: _contentType
        value: OpenTelemetry
        action: insert
      - key: db.cluster.name
        value: test
        action: insert
  resource/mongodb_resource_attributes/logs/localhost:
    attributes:
      - key: _source
        value: mongodb/filelog
        action: insert
service:
  pipelines:
    logs/mongodb/localhost:
      receivers:
        - filelog/mongodb/localhost
      processors:
        - memory_limiter
        - resource/mongodb_resource_attributes/localhost
        - batch
        - resourcedetection/system
        - resource/mongodb_resource_attributes/logs/localhost
      exporters:
        - sumologic
