receivers:
  filelog/sqlserver/linux/localhost:
    encoding: utf-16le
    storage: file_storage
    include_file_name: false
    include_file_path: true
    operators:
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]
      - type: copy
        from: resource["log.file.path"]
        to: resource["_sourceName"]
    include:
      - /var/opt/mssql/log/errorlog
processors:
  resource/sqlserver_linux_resource_attributes/localhost:
    attributes:
      - key: db.system
        value: sqlserver
        action: insert
      - key: sumo.datasource
        value: sqlserver
        action: insert
      - key: _contentType
        value: OpenTelemetry
        action: insert
      - key: db.cluster.name
        value: test
        action: insert
  resource/sqlserver_linux_resource_attributes/logs/localhost:
    attributes:
      - key: _source
        value: sqlserver/filelog
        action: insert
service:
  pipelines:
    logs/sqlserver/linux/localhost:
      receivers:
        - filelog/sqlserver/linux/localhost
      processors:
        - memory_limiter
        - resourcedetection/system
        - resource/sqlserver_linux_resource_attributes/logs/localhost
        - resource/sqlserver_linux_resource_attributes/localhost
        - batch
      exporters:
        - sumologic
