receivers:
  filelog/squidproxy/localhost:
    include_file_name: false
    include_file_path: true
    operators:
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]
    include:
      - /var/log/squid/access.log
processors:
  resource/squidproxy_resource_attributes/localhost:
    attributes:
      - key: sumo.datasource
        value: squidproxy
        action: insert
      - key: webengine.system
        value: squidproxy
        action: insert
      - key: webengine.cluster.name
        value: test
        action: insert
service:
  pipelines:
    logs/squidproxy/localhost:
      receivers:
        - filelog/squidproxy/localhost
      processors:
        - memory_limiter
        - resource/squidproxy_resource_attributes/localhost
        - batch
        - resourcedetection/system
      exporters:
        - sumologic
