receivers:
  windowseventlog/security/localhost:
    channel: Security
    operators:
      - type: add
        field: resource["_sourceName"]
        value: Security
  windowseventlog/system/localhost:
    channel: System
    operators:
      - type: add
        field: resource["_sourceName"]
        value: System
processors:
  resource/windows_resource_attributes/localhost:
    attributes:
      - key: sumo.datasource
        value: windows
        action: insert
      - key: _contentType
        value: OpenTelemetry
        action: insert
      - key: _sourceCategory
        value: otel/windows
        action: insert
  resource/windows_resource_attributes/logs/localhost:
    attributes:
      - key: _source
        value: windows/windowseventlog
        action: insert
service:
  pipelines:
    logs/windows/CSMA/localhost:
      receivers:
        - windowseventlog/system/localhost
        - windowseventlog/security/localhost
      processors:
        - memory_limiter
        - resourcedetection/system
        - resource/windows_resource_attributes/logs/localhost
        - resource/windows_resource_attributes/localhost
        - batch
      exporters:
        - sumologic
