receivers:
  filelog/artifactory/logs/localhost:
    include_file_name: false
    include_file_path: true
    operators:
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]
    include:
      - /var/opt/jfrog/artifactory/logs/artifactory.log
  filelog/artifactory/accesslogs/localhost:
    include_file_name: false
    include_file_path: true
    operators:
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]
    include:
      - /var/opt/jfrog/artifactory/logs/access.log
  filelog/artifactory/requestlogs/localhost:
    include_file_name: false
    include_file_path: true
    operators:
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]
    include:
      - /var/opt/jfrog/artifactory/logs/request.log
  filelog/artifactory/trafficlogs/localhost:
    include_file_name: false
    include_file_path: true
    operators:
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]
    include:
      - /var/opt/jfrog/artifactory/logs/traffic.*.log
processors:
  resource/artifactory_resource_attributes/localhost:
    attributes:
      - key: sumo.datasource
        value: artifactory
        action: insert
service:
  pipelines:
    logs/artifactory/localhost:
      receivers:
        - filelog/artifactory/logs/localhost
        - filelog/artifactory/accesslogs/localhost
        - filelog/artifactory/requestlogs/localhost
        - filelog/artifactory/trafficlogs/localhost
      processors:
        - memory_limiter
        - resource/artifactory_resource_attributes/localhost
        - batch
        - resourcedetection/system
      exporters:
        - sumologic
