receivers:
  mysql/localhost:
    endpoint: localhost:3306
    username: admin
    password: password
    collection_interval: 10s
    transport: tcp
    allow_native_passwords: true
    metrics:
      mysql.client.network.io:
        enabled: true
      mysql.connection.count:
        enabled: true
      mysql.connection.errors:
        enabled: true
      mysql.joins:
        enabled: true
      mysql.mysqlx_worker_threads:
        enabled: true
      mysql.query.client.count:
        enabled: true
      mysql.query.count:
        enabled: true
      mysql.query.slow.count:
        enabled: true
      mysql.statement_event.count:
        enabled: true
      mysql.statement_event.wait.time:
        enabled: true
      mysql.table.lock_wait.read.count:
        enabled: true
      mysql.table.lock_wait.read.time:
        enabled: true
      mysql.table.lock_wait.write.count:
        enabled: true
      mysql.table.lock_wait.write.time:
        enabled: true
      mysql.table_open_cache:
        enabled: true
  filelog/mysql/localhost:
    multiline:
      line_start_pattern: ^\d{4}-\d{2}-\d{2}T\d{1,2}:\d{1,2}:\d{1,2}.*
    include_file_name: false
    include_file_path: true
    operators:
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]
    include:
      - /var/log/mysql/mysqld-error.log
  filelog/mysql/slow_transcations/localhost:
    multiline:
      line_start_pattern: ^#\sTime:\s.*
    include_file_name: false
    include_file_path: true
    operators:
      - type: move
        from: attributes["log.file.path"]
        to: resource["log.file.path"]
    include:
      - /var/log/mysql/mysqld-slow.log
processors:
  resource/mysql_resource_attributes/localhost:
    attributes:
      - key: db.system
        value: mysql
        action: insert
      - key: sumo.datasource
        value: mysql
        action: insert
      - key: db.node.name
        action: insert
        from_attribute: host.name
      - key: db.cluster.name
        value: mysqlOtelCluster
        action: insert
  attributes/mysql_metric_label_translation/localhost:
    include:
      match_type: regexp
      metric_names: ^mysql\.
    actions:
      - action: insert
        from_attribute: schema
        key: db.name
      - action: delete
        key: schema
      - action: insert
        from_attribute: table
        key: db.sql.table
      - action: delete
        key: table
service:
  pipelines:
    metrics/mysql/localhost:
      receivers:
        - mysql/localhost
      processors:
        - memory_limiter
        - resourcedetection/system
        - resource/mysql_resource_attributes/localhost
        - attributes/mysql_metric_label_translation/localhost
        - batch
      exporters:
        - sumologic
    logs/mysql/localhost:
      receivers:
        - filelog/mysql/localhost
        - filelog/mysql/slow_transcations/localhost
      processors:
        - memory_limiter
        - resourcedetection/system
        - resource/mysql_resource_attributes/localhost
        - batch
      exporters:
        - sumologic
