[Unit]
Description=Sumo Logic Distribution for OpenTelemetry Collector

[Service]
ExecStart=/usr/share/otelcol-sumo/otelcol-sumo.sh
User=otelcol-sumo
Group=otelcol-sumo
MemoryHigh=2000M
MemoryMax=3000M
TimeoutStopSec=20
EnvironmentFile=-/etc/otelcol-sumo/env/*.env

[Install]
WantedBy=multi-user.target
